<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InovaFin"
        tools:targetApi="31">
        <activity
            android:name=".RegistroGuardado"
            android:exported="false" />
        <activity
            android:name=".EditarGuardado"
            android:exported="false" />
        <activity
            android:name=".AddGuardado"
            android:exported="false" />
        <activity
            android:name=".EditarPagar"
            android:exported="false" />
        <activity
            android:name=".AddPagar"
            android:exported="false" />
        <activity
            android:name=".RegistroPagar"
            android:exported="false" />
        <activity
            android:name=".EditarReceber"
            android:exported="false" />
        <activity
            android:name=".SplashTransferir"
            android:exported="false" />
        <activity
            android:name=".TransferirValor"
            android:exported="false" />
        <activity
            android:name=".EditarConta"
            android:exported="false" />
        <activity
            android:name=".EmailEnviado"
            android:exported="false" />
        <activity
            android:name=".ContaEscolhida"
            android:exported="false" />
        <activity
            android:name=".NovaConta"
            android:exported="false" />
        <activity
            android:name=".ExcluirPagar"
            android:exported="false" />
        <activity
            android:name=".ExcluirGuardado"
            android:exported="false" />
        <activity
            android:name=".ExcluirReceber"
            android:exported="false" />
        <activity
            android:name=".RegistroReceber"
            android:exported="false" />
        <activity
            android:name=".AddReceber"
            android:exported="false" />
        <activity
            android:name=".SaldoGeralPagar"
            android:exported="false" />
        <activity
            android:name=".SaldoGeralGuardado"
            android:exported="false" />
        <activity
            android:name=".SaldoGeralReceber"
            android:exported="false" />
        <activity
            android:name=".AjudaSaldoGeral"
            android:exported="false" />
        <activity
            android:name=".EditarPerfil"
            android:exported="false" />
        <activity
            android:name=".ContaPagar"
            android:exported="false" />
        <activity
            android:name=".ValorGuardado"
            android:exported="false" />
        <activity
            android:name=".ValorReceber"
            android:exported="false" />
        <activity
            android:name=".MinhasContas"
            android:exported="false" />
        <activity
            android:name=".SaldoGeral"
            android:exported="false" />
        <activity
            android:name=".Notificacoes"
            android:exported="false" />
        <activity
            android:name=".Configuracoes"
            android:exported="false" />
        <activity
            android:name=".SenhaEnviada"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".EsqueceuSenha"
            android:exported="false" />
        <activity
            android:name=".Cadastro"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".LoginCadastro"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>